@import "./variables";
  
#piePagina {

    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.486), hsla(308, 45%, 52%, 0.603)), url("../img/imagen-5.jpeg");
    background: linear-gradient(to right, #09191df0, #171111de), url("../img/imagen-5.jpeg");
    /* background-image: url("../img/imagen-portada.jpeg"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;

    .contenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* align-items: center; */
        width: 90%;

        .frame {

            width: 33%;

            .titulo{
                text-align: center;
                margin-bottom: $margin-bottom;
                font-size: $font-size-title - 0.5rem;
                /* font-weight: 200; */
                color: white;
                /* letter-spacing: 10px; */
            }

            iframe{
                width: 100%;
                height: 30vh;
                border-radius: $border-radius;
            }

            @media screen and (max-width: 768px){
                display: none;
            }
        }
        
        .colegio {
            width: 33%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;

            .titulo {
                text-align: center;
                margin-bottom: $margin-bottom + 10px;
                font-size: $font-size-title - 0.5rem;
                /* font-weight: 200; */
                color: white;

                @media screen and (max-width: 320px){
                    font-size: $font-size-subtitulo;
                }
            }

            a {
                text-align: center;
                text-decoration: none;
                margin-bottom: $margin-bottom + 10px;
                color: white;

                &:hover {
                    text-decoration: underline;
                    color: $color-title;
                    transform: scale(1.3);
                }      
            }  
        }

        .redesSociales {
            width: 33%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            /* justify-content: center; */

            .titulo {
                text-align: center;
                margin-bottom: $margin-bottom + 10px;
                font-size: $font-size-title - 0.5rem;
                /* font-weight: 200; */
                color: white;

                @media screen and (max-width: 320px){
                    font-size: $font-size-subtitulo;
                }
            }

            a {
                border: 1px solid $color-title;
                border-radius: $border-radius;
                text-align: center;
                margin-bottom: $margin-bottom;
                background-color: #f2f2f2;

                i {
                    font-size: $font-size-title + 0.2rem;
                    color: $color-title;
                }
            }
        }
    } 
}
