// Header

header {
    // Css Anidado
    .menuNavegacion {
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: white;

        .logo {
            width: 100px;
            height: 70px;
            display: inline-block;
            margin: 10px;

            img {
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        .enlaces {

            a {
                color: black;
                text-decoration: none;
                font-weight: 300;
                margin-right:15px ;
                padding: 10px;
                font-size: 1.2rem;
                transition: all 0.6s;

                &:nth-child(5){
                    background-color:#04175d;
                    color: white;
                    border-radius: 10px;
                    padding: 15px;
                }

                &:hover{
                    color: #7c0e04;
                    transform: scale(1.6);
                }

                @media screen and (max-width: 768px){
                    color: white;
                }
            }

            @media screen and (max-width: 768px){
                position: fixed;
                background-color: #303a52;
                left: 0;
                top: 90px;
                width: 60%;
                height: 100vh;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                transform: translateX(-100%);
            }
        }

        .enlaces.enlacesDos {
            @media screen and (max-width: 768px){
                transform: translateX(0%);
            }
        }
        
        .hamburguesa{
            height: 100%;
            width: 70px;
            text-align: center;
            display: none;

            img {
                padding: 23px 23px;
            }

            @media screen and (max-width: 768px){
                display: block;
            }
        }   
    }


    // Metodologia BEM
    .menu {
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: white;
    }

    .menu__logo{
        width: 100px;
        height: 70px;
        display: inline-block;
        margin: 10px;
    }

    .menu__img--logo{
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .menu__enlaces {

        @media screen and (max-width: 768px){
            position: fixed;
            background-color: #303a52;
            left: 0;
            top: 90px;
            width: 60%;
            height: 100vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            transform: translateX(-100%);
        }
    }
    
    .menu__enlaces.enlacesDos {
        @media screen and (max-width: 768px){
            transform: translateX(0%);
        }
    }
    
    .menu__enlace {
        color: black;
        text-decoration: none;
        font-weight: 300;
        margin-right:15px ;
        padding: 10px;
        font-size: 1.2rem;
        transition: all 0.6s;

        @media screen and (max-width: 768px){
            color: white;
        }
    }


    .menu__enlace:nth-child(5){
        background-color:#04175d;
        color: white;
        border-radius: 10px;
        padding: 15px;
    }

    .menu__enlace:hover {
        color: #7c0e04;
        transform: scale(1.6);
    }

    .menu__hamburguesa {
        height: 100%;
        width: 70px;
        text-align: center;
        display: none;

        @media screen and (max-width: 768px){
            display: block;
        }
    }

    .menu__img--hamburguesa{
        padding: 23px 23px;
    }
}
