// VariAbles 

$font-size-title:2.5rem;
$font-size-subtitulo:1.5rem;
$font-size-parrafo: 1.3rem;

$margin-bottom: 15px;

$color-title : rgb(6, 6, 134);
$color-title-red: #7c0e04;

$border-radius: 10px;